table{
    width: 90%;
    margin: 10px;
    border-radius: 10%;
    table-layout: fixed;
}
th{
    background-color: rgb(12, 73, 126);
    color: whitesmoke;
}
tr,td{
    text-align: center;
    background-color: rgb(245, 220, 245);

}
